*{
	border: 1px solid black;
}
html{
	font-size: 18px;
	line-height: 1.4;
	font-family: Helvetica, sans-serif;
}
.space{
	height:1rem;
}
.container{
	width: 960px;
	margin: auto;
}
.banner{
	height: 30rem;
	background-image: url('../images/glasses-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 15%;
}
.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: cadetblue;
	font-size: 1rem;
	color: white;
}
.logo{
	margin: 1rem 0 1rem 2rem;
	display: flex;
	align-items: center;
}
.header span{
	margin-left: 1rem;
}
.header img{
	height:1.5rem;
}
.header nav{
	display: inline-block;
}
.header li{
	display: inline-block;
	margin: 1rem 2rem 1rem 1rem;
}
.mobile{
	display: none;
}
.header a{
	text-decoration: none;
	color: white;
}
.flex{
	display: flex;
	justify-content: flex-end;	
}
.message{
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 2rem;
	background-color: white;
	line-height: 2.4;
	padding: 0.75rem 5rem;
	display: inline-block;	
	margin-top: 10rem;
	margin-right: -2rem;
}
.services{
	display: flex;	
	align-items: flex-start;	
	justify-content:center;
	margin: 3rem auto;
	height:8rem;
}
.service{
	display: flex;	
	flex-direction: column;
	height: 8rem;
	margin-right: 6rem;
	width: 5rem;
}
.service img{
	width: 5rem;
	height: auto;
	text-align: center;
}
.service.paper{
	margin-left:6rem;
}
.service.paper img{
	width: 	3.5rem;
	height: auto;
}
.service.paper span{
	margin-left: -2rem;
}
.service div{
	height: 7rem;
	margin:0 auto;
	width:5rem;
}
.service span{
	text-align: center;	
	line-height: 1.5;
}
.information{
	display: flex;
	align-items:flex-start;
	justify-content: center;
	margin: 3rem auto;
}
.info{
	width: 35%;
	margin:2.5%;
	display: flex;
	flex-direction: column;	
}
.info div{
	margin-bottom: 1rem;
}
.info span{
	background-color: cadetblue;
	font-family: Helvetica, sans-serif;
	font-weight: bolder;	
	font-size: 1rem;
	padding:0.5rem 70px 0.5rem 1.25rem;
	width: 650px;
	color: white;
}
.info p{
	line-height: 1.4;
}
footer{
	background-color: azure;
	margin-top: 2rem;
	display: flex;
	align-items: center;
}
footer img{
	height: 1.5rem;
	margin: 4rem;
	margin-right: 1rem;
	display: inline-block;	
}
@media only screen and (max-width: 1024px){
	.space{
		display: none;	
	}
	.container{
		width: 100%;
	}
	.banner{
		height: 22rem;
	}
	.message{
		font-size: 	1.33rem;
		padding:0.75rem 4rem;
		margin-top: 5rem;
		margin-right: 2rem;
	}
}
@media only screen and (max-width: 790px){
	.normal{
		display: none;
	}
	.mobile{
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		list-style:none;
	}
	.banner{
		background-position: 20%;
	}
}
@media only screen and (max-width:685px){
	.header span{
		display: none;
	}
	.banner{
		height: 17rem;
		background-position: 20%;
	}
	.flex{
		justify-content: center;
	}
	.message{
		width:100%;
		font-family: Helvetica, sans-serif;
		font-size: 1rem;
		padding:1rem auto;
		text-align: center;
		margin-top: 9rem;
		margin-right: 0;
	}
	.services{
		display: flex;	
		align-items: center;
		justify-content:center;
		margin: 3.77rem auto;
		flex-direction: column;	
		height: auto;
	}
	.service{
		margin:1.54rem auto;
		height: auto;
	}
	.service div{
		height: auto;
	}
	.service.paper{
		margin-right: 3.95rem;
	}
	.services span{
		font-family: Helvetica, sans-serif;
		font-size: 0.77rem;
		margin-top: 1rem;
	}
	.information{
		flex-direction: column;	
		align-items: center;
		justify-content:center;
	}
	.info{
		width: 100%;
		margin:0;
	}
	.info div{
		display: flex;
		align-items: center;
		text-align: center;	
		background-color: cadetblue;
		height: 2.5rem;
	}
	.info span{
		width:100%;
		padding: 0;
		text-align: center;
	}
	.info p{
		font-family: Helvetica, sans-serif;
		font-size: 0.77rem;
		margin-bottom: 4rem;
		margin-top: 1rem;
		margin-left: .75rem;
	}
	footer span{
		display: none;
	}
	footer img{
		margin: 4rem auto;
		display: inline-block;	
	}
}